<nb-card>
  <nb-card-header>Lista de productos</nb-card-header>
    <nb-card-body>
      <button class="btn_options" (click)="openWindow(null)" nbButton>Agregar producto</button>
      <nb-list>
        <nb-list-item  *ngFor="let p of products; let i = index">
          <nb-accordion>
              <nb-accordion-item>
                  <nb-accordion-item-header>
                      {{ p.title }}
                  </nb-accordion-item-header>
                  <nb-accordion-item-body>
                      <button class="btn_options" (click)="openWindow(p)" nbButton>Editar</button>
                      <button class="btn_options" (click)="removeProduct(p, i)" nbButton>Borrar</button>
                      <div [innerHTML]="p.description"></div>
                  </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>
          </nb-list-item>
      </nb-list>
  </nb-card-body>
</nb-card>
